.project{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.project .overflow{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(86, 83, 83, 0.765);
    z-index: -1;
    padding: 30px;
    display:flex;
    align-items:flex-end ;
    transition: all 04s ease;
    opacity:0;

}

.project img{
    transition: all 04s ease;
}

.project:hover .overlay{
    opacity:1;
}

.project:hover img{
    transform: scale(1,1);
}


h6{
    font-weight: 700;
    font-size: x-large;
    color: black;
}